/Parte 1/prop18cap3/nbproject/private/
/Parte 1/prop18cap3/build/
/Parte 1/prop18cap3/dist/
/Parte 1/prop19cap3/nbproject/private/
/Parte 1/prop19cap3/dist/
/Parte 1/prop19cap3/build/
/Parte 1/res7cap4/nbproject/private/
/Parte 1/res7cap4/build/
/Parte 1/res7cap4/dist/
/Parte 1/res10cap4/nbproject/private/
/Parte 1/res10cap4/build/
/Parte 1/res10cap4/dist/
/Parte 1/prop22cap4/nbproject/private/
/Parte 1/prop22cap4/build/
/Parte 1/prop22cap4/dist/
/Parte 1/prop23cap4/nbproject/private/
/Parte 1/prop23cap4/dist/
/Parte 1/prop23cap4/build/
/Parte 1/prop40cap5/nbproject/private/
/Parte 1/prop40cap5/build/
/Parte 1/prop40cap5/dist/
/Parte 1/prop41cap50/nbproject/private/
/Parte 1/prop41cap50/build/
/Parte 1/prop41cap50/dist/
/Parte 2/figurasGeometricas/nbproject/private/
/Parte 2/figurasGeometricas/dist/
/Parte 2/figurasGeometricas/build/
